# Node.js
node_modules/
.next/
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg-info/
.venv/
venv/
.envrc

# Logs
*.log

# Build
build/
dist/

# IDE/OS
.DS_Store
.vscode/
.idea/
*.swp
Thumbs.db

# Database
*.sqlite3
*.db

# Secrets
secrets.*

# Misc
*.bak
*.tmp

# Coverage
htmlcov/
.coverage
coverage.xml

# Pnpm
pnpm-lock.yaml

# Autres fichiers sensibles
backend/.env
frontend/.env